* {
  margin: auto;
  padding: 0%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    min-width: 20px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: rgb(48, 62, 143);
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background: #1d49aa;
}

img {
    width: 800px;
    height: 450px;
}

#root {
    width: 90%;
}